@import url(./global.css);

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  margin: 0;
}

/* HEADINGS */

h1 {
  color: var(--color-heading);
  font-family: var(--heading-font);
  font-size: 28px;
  font-weight: 500;
  line-height: 18px;
  margin: 25px 0 5px 0;
}
